<h1>Caught Red Handed</h1>
<p>Hello. I'm detective @Model.MaleName, and you are...</p>
<p>@Model.TeacherName.</p>
<p>You're here today under suspicion of second degree robbery...</p>
<p>@Model.Exclamation You've gotta be kidding me!</p>
<p>That's right! @Model.Number @Model.PluralObject were stolen from @Model.StoreName and the crime scene has your @Model.BodyPart written all over it.</p>
<p>That is @Model.SillyWord, detective!</p>
<p>Where were you on the night of @Model.HolidayName?</p>
<p>We were watching @Model.MovieTitle.</p>
<p>So why did the security camera show you @Model.VerbWithIng just @Model.AmoutOfDistance away from the crime scene? I'm through with playing games! Where are you from, @Model.TeacherName?</p>
<p>@Model.Country!</p>
<p>...Yeah, that's as I suspected. You know, one of the best parts about being a detective is that I get to lock up criminals like you and go home to my children and pet my @Model.Animal and say @Model.FamousMovieQuote!</p>
<p>Fine. I did this. I committed the robbery. But I only did it because I needed the money to buy myself @Model.AnotherBodyPart implants... do you know how embarrassing that is?</p>
<p>I knew it all along! I knew it allllll along, bucko, and everytime I solve a crime I like to sing my favorite song @Model.ChildrenSong [*SINGS THE SONG LOUDLY*]</p>
<p>You have a @Model.Adjective voice. I love you, detective @Model.MaleName!</p>